{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<header>
<!-- Required meta tags -->
<meta charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
        <!-- Optional JavaScript -->
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="{% static 'blog/js/js_post.js' %}"></script>
{% if title %}
    <title>{{ title }}</title>
{% else %}
    <title>blog</title>
{%endif %}
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

</header>
<body>
    <!--<header>-->
        <nav class="navbar navbar-expand-md navbar-light bg-secondary mb-5">
            {% if user.is_authenticated %}
                <a class="navbar-brand text-warning" href="{% url 'profile' p_pk=user.pk%}">{{user.username}}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog-home' %}">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog-channel' %}">Channels</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'notification' %}">Notifications</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-warning" href="{% url 'logout' %}">Logout</a>
                      </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" style="float:right; padding-top:7px" action="{% url 'search' %}" method="get">
                      <input class="form-control mr-sm-2" name="q" type="search"  placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            {% else %}
                <a class="navbar-brand text-warning">Web Project</a>
            {% endif %}
		</nav>
    <!--</header>-->

    <main role="main" class="container">
          <div class="row">
              <div class="col ">
              </div>
            <div class="col-md-10 ">
                {% if messages %}
                    {% for message in messages%}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
              <div class="col ">
              </div>
              <script>
                  $(document).ready(function(){
                      function updateText(btn, newCount, verb){
                      btn.text(newCount + " " + verb)
                          if (verb === "Like"){
                              btn.replaceWith(
                                  $("<a class=\"like-btn\" data-href=\"{{ post.get_like_api_url }}\" data-likes=\"{{ post.likes.count }} \" href=\"{{ post.get_like_url }}\"> " +
                                      "<img src=\"{% static 'blog/unthumbu.png' %}\" width=\"30\" height=\"30\" class=\"d-inline-block align-top\" alt=\"\">" +  "<small class='ml-3'>" + newCount +  "</small></a>"))
                          }
                          if (verb === "Unlike"){
                              btn.replaceWith(
                                  $("<a class=\"like-btn\" data-href=\"{{ post.get_like_api_url }}\" data-likes=\"{{ post.likes.count }} \" href=\"{{ post.get_like_url }}\"> " +
                                      "<img src=\"{% static 'blog/thumbu.png' %}\" width=\"30\" height=\"30\" class=\"d-inline-block align-top\" alt=\"\"></a>" +  "<small class='ml-3'>" + newCount +  "</small></a>"))
                          }
                  }

                 $(".like-btn").click(function(e){
                    e.preventDefault()
                    var this_ = $(this)
                    var likeUrl = this_.attr("data-href")
                    if (likeUrl){
                       $.ajax({
                        url: likeUrl,
                        method: "GET",
                        data: {},
                        success: function(data){
                          console.log(data)
                          var newLikes;
                          if (data.liked === true){
                              updateText(this_, data.count, "Unlike")
                          } else {
                              updateText(this_, data.count , "Like")
                              // remove one like
                          }
                        }, error: function(error){
                          console.log(error)
                          console.log("error")
                        }
                      })
                    }

                  })
              })

    </script>
              <script>
                  $(document).ready(function(){
                      function updateText(btn, newCount, verb){
                      btn.text(newCount + " " + verb)
                          if (verb === "disLike"){
                              btn.replaceWith(
                                  $("<a class=\"dislike-btn\" data-href=\"{{ post.get_dislike_api_url }}\" data-likes=\"{{ post.dislikes.count }} \" href=\"{{ post.get_dislike_url }}\"> " +
                                      "<img src=\"{% static 'blog/unthumbd.png' %}\" width=\"30\" height=\"30\" class=\"d-inline-block align-top\" alt=\"\">" +  "<small class='ml-3'>" + newCount +  "</small></a>"))
                          }
                          if (verb === "Undislike"){
                              btn.replaceWith(
                                  $("<a class=\"dislike-btn\" data-href=\"{{ post.get_dislike_api_url }}\" data-likes=\"{{ post.dislikes.count }} \" href=\"{{ post.get_dislike_url }}\"> " +
                                      "<img src=\"{% static 'blog/thumbd.png' %}\" width=\"30\" height=\"30\" class=\"d-inline-block align-top\" alt=\"\"></a>" +  "<small class='ml-3'>" + newCount +  "</small></a>"))
                          }
                  }

                 $(".dislike-btn").click(function(e){
                    e.preventDefault()
                    var this_ = $(this)
                    var dislikeUrl = this_.attr("data-href")
                    if (dislikeUrl){
                       $.ajax({
                        url: dislikeUrl,
                        method: "GET",
                        data: {},
                        success: function(data){
                          console.log(data)
                          var newLikes;
                          if (data.disliked === true){
                              updateText(this_, data.count, "Undislike")
                          } else {
                              updateText(this_, data.count , "disLike")
                              // remove one like
                          }
                        }, error: function(error){
                          console.log(error)
                          console.log("error")
                        }
                      })
                    }

                  })
              })

    </script>
    <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
    </script>

          </div>
        </main>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>