{% extends "blog/base.html" %}
{% block content %}

    <h1>Channels</h1>

    {% for c in channels %}
        <article class="media content-section">
           <div class="media-body">
               <input type="hidden" name="next" value="{{ request.GET.next }}">
            <h2><a class="article-title" href="{% url 'edit_channel' pk=c.pk %}?next={{ request.path|urlencode }}">{{ c.title }}</a>
<!--            {% if request.user  in c.admin or c.authors  %}-->
                <a class="glyphicon glyphicon-trash" style="float:right" aria-hidden="true" href="{% url 'delete_channel' id=c.pk %}"></a>
                <a class="glyphicon glyphicon-plus" style="float:right" aria-hidden="true" href="{% url 'addMember' id=c.pk %}"></a>
                <div>
                    <a  type="button" class="btn btn-warning" href="{% url 'viewPosts' pk=c.pk %}">Posts</a>

                </div>
<!--            {% endif %}-->
            </h2>
            <p class="article-content">{{ post.content }}</p>
          </div>

        </article>
    {% endfor %}

<a  type="button" class="btn btn-warning" href="{% url 'newChannel' %}">New Channel</a>
{% endblock content %}