{% extends "blog/base.html" %}
{% block js%}

{% endblock js%}
$.ajax({
    url: f'127.0.0.1:8000/channels/{ch_pk}/viewPosts',
    type: 'get', // This is the default though, you don't actually need to always mention it
    success: function(data) {
        alert(data);
    },
    failure: function(data) {
        alert('Got an error dude');
    }
});
{% block content %}
    <h1>Channel Posts</h1>
{% if posts %}
    {% for post in posts %}
        <!--post preview-->
		<article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
		  <div class="media-body">
			<div class="article-metadata">
			  <a class="mr-2" href="{% url 'view_profile' p_pk=post.author.pk %}">{{ post.author }}</a>
			  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
              {% if post.chanel %}
                <em>in<a class="mr-2" href="{% url 'channel_detail' id=post.chanel.pk %}"> {{ post.chanel.title }}</a></em>
              {% endif %}
              <small class="text-muted" style="float:right">10 likes (todo)</small>
			</div>
			<h2><a class="article-title" href="{% url 'view_post' p_pk=post.pk %}">{{ post.title }}</a></h2>
			{% if post.post_pic %}
              <p class="article-content"><img class="rounded mx-auto d-block" src="{{ post.post_pic.url }}"></p>
            {% endif %}
            <p class="article-content">{{ post.content }}</p>
          </div>
		</article>
    {% endfor %}
{% endif %}
<a  type="button" class="btn btn-warning" href="{% url 'newPost' ch_pk %}">New Post</a>

{% endblock content %}