{% extends "blog/base.html" %}


{% block content %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ c.admin }}</a>
    </div>
    <h2><a class="article-title">{{ c.title }}</a></h2>
   <p class="article-content">{{ c.description }}</p>
   <br><h4>Rules:</h4> <p class="article-content">{{ c.rules }}</p>
      <!--{% for auth in channel_auths %}-->
        <!--<p class="article-content">{{ auth }}</p>-->
      <!--{% endfor %}-->
      {% if request.user == c.admin or request.user in c.authors %}
      <div class="right">
        <a class="glyphicon glyphicon-trash" style="float:right" aria-hidden="true" href="{% url 'delete_channel' id=c.pk %}"></a>
        <a class="glyphicon glyphicon-pencil" style="float:right" aria-hidden="true" href="{% url 'edit_channel' pk=c.pk %}?next={{ request.path|urlencode }}"></a>
        <a class="glyphicon glyphicon-plus" style="float:right" aria-hidden="true" href="{% url 'addAuthor' id=c.pk %}"></a>
      </div>
      {% endif %}
  </div>
</article>

<h1 class="infinite-container">Channel Posts</h1>
{% if posts %}
    {% for post in posts %}
        <!--post preview-->
		<article class="media content-section infinite-item" >
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
		  <div class="media-body">
			<div class="article-metadata">
			  <a class="mr-2" href="{% url 'profile' p_pk=post.author.pk %}">{{ post.author }}</a>
			  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
              {% if post.chanel %}
                <em>in<a class="mr-2" href="{% url 'channel_detail' id=post.chanel.pk %}"> {{ post.chanel.title }}</a></em>
              {% endif %}
              <small class="text-muted" style="float:right">10 likes (todo)</small>
			</div>
			<h2><a class="article-title" href="{% url 'view_post' p_pk=post.pk %}">{{ post.title }}</a></h2>
			{% if post.post_pic %}
              <p class="article-content"><img class="rounded mx-auto d-block" src="{{ post.post_pic.url }}"></p>
            {% endif %}
            <p class="article-content">{{ post.content }}</p>
          </div>
		</article>
    {% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endif %}
{% if request.user == c.admin  %}
<a  type="button" class="btn btn-warning" href="{% url 'newPost' ch_pk %}">New Post</a>
{% endif %}


{% endblock content %}