{% extends "blog/base.html" %}


{% block content %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ c.admin }}</a>
    </div>
    <h2><a class="article-title">{{ c.title }}</a></h2>
   <p class="article-content">{{ c.description }}</p>
   <br><h4>Rules:</h4> <p class="article-content">{{ c.rules }}</p>
      <!--{% for auth in channel_auths %}-->
        <!--<p class="article-content">{{ auth }}</p>-->
      <!--{% endfor %}-->
      <div style="float:right">
          {% if user.id not in c.get_channel_members_id %}
            <a type="button" class="btn btn-warning" href="{% url 'followChannel' chID=c.pk uID=user.id %}">Follow Channel</a>
          {% else %}
            <a type="button" class="btn btn-danger" href="{% url 'followChannel' chID=c.pk uID=user.id %}">Unfollow Channel</a>
          {% endif %}
          <br/><br/>
          <a class="glyphicon glyphicon-trash" style="float:right; padding:2px;" aria-hidden="true" href="{% url 'delete_channel' id=c.pk %}"></a>
          <a class="glyphicon glyphicon-pencil" style="float:right; padding:2px;" aria-hidden="true" href="{% url 'edit_channel' pk=c.pk %}?next={{ request.path|urlencode }}"></a>
          <a class="glyphicon glyphicon-plus" style="float:right; padding:2px;" aria-hidden="true" href="{% url 'addAuthor' id=c.pk %}"></a>
          <a class="glyphicon glyphicon-minus" style="float:right; padding:2px;" aria-hidden="true" href="{% url 'subAuthor' id=c.pk %}"></a>
      </div>
  </div>
</article>

<h1>Channel Posts</h1>
{% if posts %}
    {% for post in posts %}
        <!--post preview-->
		<article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
		  <div class="media-body">
			<div class="article-metadata">
			  <a class="mr-2" href="{% url 'profile' p_pk=post.author.pk %}">{{ post.author }}</a>
			  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
              {% if post.chanel %}
                <em>in<a class="mr-2" href="{% url 'channel_detail' id=post.chanel.pk %}"> {{ post.chanel.title }}</a></em>
              {% endif %}
              <small class="text-muted" style="float:right">{{ post.dislikes.count }}</small>
              <small class="text-muted" style="float:right; padding:2px;"><a class="glyphicon glyphicon-thumbs-down" style="float:right" aria-hidden="true"></a></small>
              <small class="text-muted" style="float:right; padding:5px"></small>
			  <small class="text-muted" style="float:right">{{ post.likes.count }}</small>
              <small class="text-muted" style="float:right; padding:2px;"><a class="glyphicon glyphicon-thumbs-up" style="float:right" aria-hidden="true"></a></small>
			</div>
			<h2><a class="article-title" href="{% url 'view_post' p_pk=post.pk %}">{{ post.title }}</a></h2>
			{% if post.post_pic %}
              <p class="article-content"><img class="rounded mx-auto d-block" src="{{ post.post_pic.url }}"></p>
            {% endif %}
            <p class="article-content">{{ post.content }}</p>
          </div>
		</article>
    {% endfor %}
{% endif %}
<a  type="button" class="btn btn-warning" href="{% url 'newPost' ch_pk %}">New Post</a>

{% endblock content %}