{% extends "blog/base.html" %}
{% block content %}

    <h1>Channels</h1>
    {% for c in channels %}
        <article class="media content-section">
           <div class="media-body">
               <input type="hidden" name="next" value="{{ request.GET.next }}">
            <h2><a class="article-title" href="{% url 'channel_detail' id=c.pk %}">{{ c.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}

<a type="button" class="btn btn-warning" href="{% url 'newChannel' %}">New Channel</a>
{% endblock content %}