{% extends "blog/base.html" %}
{% block content %}
    <div class="navbar navbar-expand navbar-light bg-warning mb-3">
		<ul class="nav nav-pills mr-auto">
			<li>
				<a class="nav-item nav-link active" data-toggle="pill" href="#followed">Followed Posts</a>
			</li>
			<li>
				<a class="nav-item nav-link " data-toggle="pill" href="#recent">Recent Posts</a>
			</li>
			<li>
				<a class="nav-item nav-link " data-toggle="pill" href="#hot">Hot posts</a>
			</li>
			<li>
				<a class="nav-item nav-link " data-toggle="pill" href="#contributed">Contributed</a>
			</li>
		</ul>
	</div>

<div class="tab-content">
	<div id="followed" class="tab-pane fade in active">
	{% for post in followed %}
        <!--post preview-->
		<article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
		  <div class="media-body">
			<div class="article-metadata">
			  <a class="mr-2" href="{% url 'profile' p_pk=post.author.pk %}">{{ post.author }}</a>
			  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
              {% if post.chanel %}
                <em>in<a class="mr-2" href="{% url 'channel_detail' id=post.chanel.pk %}"> {{ post.chanel.title }}</a></em>
              {% endif %}
			  <small class="text-muted" style="float:right">{{ post.dislikes.count }}</small>
              <small class="text-muted" style="float:right; padding:2px;"><a class="glyphicon glyphicon-thumbs-down" style="float:right" aria-hidden="true"></a></small>
              <small class="text-muted" style="float:right; padding:5px"></small>
			  <small class="text-muted" style="float:right">{{ post.likes.count }}</small>
              <small class="text-muted" style="float:right; padding:2px;"><a class="glyphicon glyphicon-thumbs-up" style="float:right" aria-hidden="true"></a></small>
			</div>
			<h2><a class="article-title" href="{% url 'view_post' p_pk=post.pk %}">{{ post.title }}</a></h2>
			{% if post.post_pic %}
              <p class="article-content"><img class="rounded mx-auto d-block" src="{{ post.post_pic.url }}"></p>
            {% endif %}
            <p class="article-content">{{ post.content }}</p>
          </div>
		</article>
	{% endfor %}






		<div class="pagination">
    <span class="step-links">
        {% if followed.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ followed.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ followed.number }} of {{ followed.paginator.num_pages }}.
        </span>

        {% if followed.has_next %}
            <a href="?page={{ followed.next_page_number }}">next</a>
            <a href="?page={{ followed.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>






	</div>
	<div id="recent" class="tab-pane fade in">
	  {% for post in recent %}
		<!--post preview-->
		<article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
		  <div class="media-body">
			<div class="article-metadata">
			  <a class="mr-2" href="{% url 'profile' p_pk=post.author.pk %}">{{ post.author }}</a>
			  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
              {% if post.chanel %}
                <em>in<a class="mr-2" href="{% url 'channel_detail' id=post.chanel.pk %}"> {{ post.chanel.title }}</a></em>
              {% endif %}
              <small class="text-muted" style="float:right">{{ post.dislikes.count }}</small>
              <small class="text-muted" style="float:right; padding:2px;"><a class="glyphicon glyphicon-thumbs-down" style="float:right" aria-hidden="true"></a></small>
              <small class="text-muted" style="float:right; padding:5px"></small>
			  <small class="text-muted" style="float:right">{{ post.likes.count }}</small>
              <small class="text-muted" style="float:right; padding:2px;"><a class="glyphicon glyphicon-thumbs-up" style="float:right" aria-hidden="true"></a></small>
			</div>
			<h2><a class="article-title" href="{% url 'view_post' p_pk=post.pk %}">{{ post.title }}</a></h2>
			{% if post.post_pic %}
              <p class="article-content"><img class="rounded mx-auto d-block" src="{{ post.post_pic.url }}"></p>
            {% endif %}
            <p class="article-content">{{ post.content }}</p>
          </div>
		</article>
	{% endfor %}



				<div class="pagination">
    <span class="step-links">
        {% if recent.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ recent.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ recent.number }} of {{ recent.paginator.num_pages }}.
        </span>

        {% if followed.has_next %}
            <a href="?page={{ recent.next_page_number }}">next</a>
            <a href="?page={{ recent.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

	</div>
	<div id="hot" class="tab-pane fade in">
	{% for post in hot %}
		<!--post preview-->
		<article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
		  <div class="media-body">
			<div class="article-metadata">
			  <a class="mr-2" href="{% url 'profile' p_pk=post.author.pk %}">{{ post.author }}</a>
			  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
              {% if post.chanel %}
                <em>in<a class="mr-2" href="{% url 'channel_detail' id=post.chanel.pk %}"> {{ post.chanel.title }}</a></em>
              {% endif %}
              <small class="text-muted" style="float:right">{{ post.dislikes.count }}</small>
              <small class="text-muted" style="float:right; padding:2px;"><a class="glyphicon glyphicon-thumbs-down" style="float:right" aria-hidden="true"></a></small>
              <small class="text-muted" style="float:right; padding:5px"></small>
			  <small class="text-muted" style="float:right">{{ post.likes.count }}</small>
              <small class="text-muted" style="float:right; padding:2px;"><a class="glyphicon glyphicon-thumbs-up" style="float:right" aria-hidden="true"></a></small>
			</div>
			<h2><a class="article-title" href="{% url 'view_post' p_pk=post.pk %}">{{ post.title }}</a></h2>
			{% if post.post_pic %}
              <p class="article-content"><img class="rounded mx-auto d-block" src="{{ post.post_pic.url }}"></p>
            {% endif %}
            <p class="article-content">{{ post.content }}</p>
          </div>
		</article>
	{% endfor %}


				<div class="pagination">
    <span class="step-links">
        {% if hot.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ hot.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ hot.number }} of {{ hot.paginator.num_pages }}.
        </span>

        {% if followed.has_next %}
            <a href="?page={{ hot.next_page_number }}">next</a>
            <a href="?page={{ hot.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

	</div>
	<div id="contributed" class="tab-pane fade in">
	{% for post in contributed %}
		<!--post preview-->
		<article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
		  <div class="media-body">
			<div class="article-metadata">
			  <a class="mr-2" href="{% url 'profile' p_pk=post.author.pk %}">{{ post.author }}</a>
			  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
              {% if post.chanel %}
                <em>in<a class="mr-2" href="{% url 'channel_detail' id=post.chanel.pk %}"> {{ post.chanel.title }}</a></em>
              {% endif %}
              <small class="text-muted" style="float:right">{{ post.dislikes.count }}</small>
              <small class="text-muted" style="float:right; padding:2px;"><a class="glyphicon glyphicon-thumbs-down" style="float:right" aria-hidden="true"></a></small>
              <small class="text-muted" style="float:right; padding:5px"></small>
			  <small class="text-muted" style="float:right">{{ post.likes.count }}</small>
              <small class="text-muted" style="float:right; padding:2px;"><a class="glyphicon glyphicon-thumbs-up" style="float:right" aria-hidden="true"></a></small>
			</div>
			<h2><a class="article-title" href="{% url 'view_post' p_pk=post.pk %}">{{ post.title }}</a></h2>
			{% if post.post_pic %}
              <p class="article-content"><img class="rounded mx-auto d-block" src="{{ post.post_pic.url }}"></p>
            {% endif %}
            <p class="article-content">{{ post.content }}</p>
          </div>
		</article>
	{% endfor %}




	</div>
</div>
{% endblock content %}