{% extends "blog/base.html" %}
{% block content %}
    <div class="navbar navbar-expand navbar-light bg-warning mb-3">
        <ul class="nav nav-pills mr-auto">
            <li >
                <a class="nav-item nav-link active" data-toggle="pill" href="#posts">Posts</a>
            </li>
            <li class="">
                <a class="nav-item nav-link " data-toggle="pill" href="#users">Users</a>
            </li>
            <li class="">
                <a class="nav-item nav-link " data-toggle="pill" href="#channels">Channels</a>
            </li>
        </ul>
    </div>

<div class="tab-content">
  <div id="posts" class="tab-pane fade in active">
    <h3>Posts containing '{{ query }}'</h3>
    {% for post in search_posts %}
        <!--post preview-->
		<article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
		  <div class="media-body">
			<div class="article-metadata">
			  <a class="mr-2" href="{% url 'profile' p_pk=post.author.pk %}">{{ post.author }}</a>
			  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
              {% if post.chanel %}
                <em>in<a class="mr-2" href="{% url 'channel_detail' id=post.chanel.pk %}"> {{ post.chanel.title }}</a></em>
              {% endif %}
              <small class="text-muted" style="float:right">10 likes (todo)</small>
			</div>
			<h2><a class="article-title" href="{% url 'view_post' p_pk=post.pk %}">{{ post.title }}</a></h2>
			{% if post.post_pic %}
              <p class="article-content"><img class="rounded mx-auto d-block" src="{{ post.post_pic.url }}"></p>
            {% endif %}
            <p class="article-content">{{ post.content }}</p>
          </div>
		</article>
    {% endfor %}
  </div>
  <div id="users" class="tab-pane fade in">
      <h3>Users containing '{{ query }}'</h3>
      {% for user in search_users %}
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                <div class="media-body">
                  <h2 class="account-heading">{{ user.username }}</h2>
                  <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div>
        <!-- FORM HERE -->
        </div>
      {% endfor %}
  </div>
  <div id="channels" class="tab-pane fade in">
    <h3>Channels containing '{{ query }}'</h3>
    {% for c in search_channels %}
        <article class="media content-section">
           <div class="media-body">
               <input type="hidden" name="next" value="{{ request.GET.next }}">
            <h2><a class="article-title" href="{% url 'channel_detail' id=c.pk %}">{{ c.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
  </div>
</div>
{% endblock content %}