{% extends "blog/base.html" %}
{% block content %}
    <div class="navbar navbar-expand navbar-light bg-warning mb-3">
        <ul class="nav nav-pills mr-auto">
            <li >
                <a class="nav-item nav-link active" data-toggle="pill" href="#posts">Posts</a>
            </li>
            <li class="">
                <a class="nav-item nav-link " data-toggle="pill" href="#users">Users</a>
            </li>
            <li class="">
                <a class="nav-item nav-link " data-toggle="pill" href="#channels">Channels</a>
            </li>
        </ul>
    </div>

<div class="tab-content">
  <div id="posts" class="tab-pane fade in active">
    <h3>posts</h3>
    <p>Some content.</p>
  </div>
  <div id="users" class="tab-pane fade in">
    <h3>users</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div id="channels" class="tab-pane fade in">
    <h3>channels</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>







    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}