{% extends "blog/base.html" %}

{% block content %}
<h1>Authors of channel '{{channel.title}}'</h1>

{% for u in channel.get_channel_auths %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ u.profile.image.url }}">
            <div class="media-body">
              <h2 class="account-heading">{{ u.username }}</h2>
              <p class="text-secondary">{{ u.email }}</p>

                <h2><a class="glyphicon glyphicon-minus" style="float:right" aria-hidden="true" href="#"></a></h2>
            </div>
        </div>
    <!-- FORM HERE -->
    </div>
{% endfor %}

{% endblock content %}