{% extends "blog/base.html" %}
{% load staticfiles %}

{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'profile' p_pk=post.author.pk %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title">{{ post.title }}</a></h2>
            {% if request.user in post.likes.all %}
              <p>
                <a class="like-btn" data-href="{{ post.get_like_api_url }}" data-likes="{{ post.likes.count }}" href="{{ post.get_like_url }}">
                  <img src="{% static 'blog/liked.png' %}" width="30" height="30" class="d-inline-block align-top\" alt="">
                  <small class='ml-3'>{{ post.likes.count }}</small>
                </a>
              </p>
            {% else %}
                <p>
                <a class="like-btn" data-href="{{ post.get_like_api_url }}" data-likes="{{ post.likes.count }}" href="{{ post.get_like_url }}">
                  <img src="{% static 'blog/unliked.png' %}" width="30" height="30" class="d-inline-block align-top\" alt="">
                  <small class='ml-3'>{{ post.likes.count }}</small>
                </a>
              </p>
            {% endif %}

              {% if post.post_pic %}
            <p class="article-content"><img class="rounded mx-auto d-block" src="{{ post.post_pic.url }}"></p>
              {% endif %}
              <a class="glyphicon glyphicon-trash" style="float:right" aria-hidden="true" href="{% url 'delete_post' id=post.pk %}"></a>
              <a class="glyphicon glyphicon-pencil" style="float:right" aria-hidden="true" href="{% url 'edit_post' post.pk %}?next={{ request.path }}"></a>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>

{% endblock content %}