{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <a href= "{% provider_login_url 'google' %}"> Google account</a>
        <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">g2</a>
        <div class="border-top pt-3">
            <small class="text-muted"><a href="{% url 'password_reset' %}">forgot password?</a> </small>
            <small class="text-muted ml-2 ">need an account?<a href="{% url 'register' %}">sign up</a> </small>
        </div>

    </div>
{% endblock content %}