{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ requested_user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ requested_user.username }}</h2>
          <p class="text-secondary">{{ requested_user.email }}</p>
            <div class="w-100">
                <ul class="list-group list-group-horizontal-md">
                  <li class="list-group-item text-center">
                        <h1 data-toggle="modal" data-target="#followingmodal">{{ following.count}}</h1>
                        <small class="taxt-muted" data-toggle="modal" data-target="#followingmodal"> followings </small>
                  </li>
                  <li class="list-group-item text-center">
                         <h1 class="">{{ follower.count }}</h1>
                        <small class="taxt-muted" data-toggle="modal" data-target="#followermodal"> followers</small>
                  </li>
                  <li class="list-group-item text-center">
                        <h1>{{ post_count}}</h1>
                        <small class="taxt-muted">  posts </small>
                  </li>
                </ul>
            </div>
        </div>
      </div>
        {% if requested_user == user %}
            <a  class="glyphicon glyphicon-share"  onclick="share()" href="#" data-toggle="modal" data-target="#myModal"></a>
            <a class="btn btn-outline-info"href="{% url 'profile-edit' %}">edit profile</a>
            <a class="btn btn-outline-info"href="{% url 'newPostProfile' pk=user.pk %}?next={{ request.path|urlencode ">new post</a>

        {% else %}
            {% if user.id not in requested_user.profile.get_follower_id %}
                <a class="btn btn-info"href="{{ requested_user.profile.get_follow_url }}">follow</a>
            {% else %}
                <a class="btn btn-danger"href="{{ requested_user.profile.get_follow_url }}">unfollow</a>
            {% endif %}
        {% endif %}
    </div>
<h1 class="infinite-container">User Posts</h1>
        {% for post in posts%}
		<!--post preview-->
		<article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
		  <div class="media-body">
			<div class="article-metadata">
			  <a class="mr-2" href="{% url 'profile' p_pk=post.author.pk %}">{{ post.author }}</a>
			  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
              {% if post.chanel %}
                <em>in<a class="mr-2" href="{% url 'channel_detail' id=post.chanel.pk %}"> {{ post.chanel.title }}</a></em>
              {% endif %}
              <small class="text-muted" style="float:right">{{ post.dislikes.count }}</small>
              <small class="text-muted" style="float:right; padding:2px;"><a class="glyphicon glyphicon-thumbs-down" style="float:right" aria-hidden="true"></a></small>
              <small class="text-muted" style="float:right; padding:5px"></small>
			  <small class="text-muted" style="float:right">{{ post.likes.count }}</small>
              <small class="text-muted" style="float:right; padding:2px;"><a class="glyphicon glyphicon-thumbs-up" style="float:right" aria-hidden="true"></a></small>
			</div>
			<h2><a class="article-title" href="{% url 'view_post' p_pk=post.pk %}">{{ post.title }}</a></h2>
			{% if post.post_pic %}
              <p class="article-content"><img class="rounded mx-auto d-block" src="{{ post.post_pic.url }}"></p>
            {% endif %}
            <p class="article-content">{{ post.content }}</p>
          </div>
		</article>
	{% endfor %}

        <div class="modal fade" id="followingmodal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">followings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    {% for u in following %}
                        <div class="content-section">
                        <div class="media">
                            <img class="rounded-circle account-img" src="{{ u.following.profile.image.url }}">
                            <div class="media-body">
                              <h2 class="account-heading" >{{ u.following.username }}</h2>
                                <a href="{% url 'profile' p_pk=u.following.pk %}" class="btn btn-primary">view prfile</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

            <div class="modal fade" id="followermodal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="followermodalLabel">followers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    {% for u in follower %}
                        <div class="content-section">
                        <div class="media">
                            <img class="rounded-circle account-img" src="{{ u.follower.profile.image.url }}">
                            <div class="media-body">
                              <h2 class="account-heading" >{{ u.follower.username }}</h2>
                                <a href="{% url 'profile' p_pk=u.follower.pk %}" class="btn btn-primary">view prfile</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


 <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
                  <h4  style="float:left">Post link</h4>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
          <input type="url" id="url" value="127.0.0.1{{ requested_user.profile.get_absolute_url }}">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

{% endblock content %}